  <ul class="nav justify-content-center bg-info">
    <li class="nav-item">
      <a class="nav-link active p-3 mb-2 text-white link" aria-current="page" href=""><strong>Users</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-3 mb-2 text-white link" href="/about"><strong>Posts</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-3 mb-2 text-white link" href="/comment"><strong>Comments</strong></a>
    </li>
  </ul>
  <router-outlet></router-outlet>
